* {
    margin: 0;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
  }
  
  a {
    color: #242424;
    text-decoration: none;
  }
  
  em {
    color: #a5b4fc;
    font-style: normal;
  }
  
  h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    color: #f9f8ff;
  }
  
  p,
  li {
    font-size: 1.1em;
    color: #f9f8ff;
  }
  
  header,
  footer {
    background-color: white;
    padding: 20px 50px;
  }
  
  .cta {
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    width: 200px;
    display: inline-block;
    margin-top: 24px;
    text-align: center;
    align-self: center;
    font-size: 16px;
  }
  
  
  a:hover {
    text-decoration: underline;
  }
  
  .cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration:none;
  }
  
  .lien-icone {
    margin-left: 30px;
  }
  
  .lien-icone:hover {
    opacity: 0.5;
  }
  
  .carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
  }
  
  .carre-contenu h2 {
    margin-top: 30px;
  }
  
  .carre-contenu ul {
    margin-top: 30px;
  }
  
  section {
    padding: 80px;
  }
  
  .a-propos-main {
    width: 50%;
    margin: auto;
  }
  
  footer,
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  nav a {
    margin-left: 30px;
  }
  
  .accueil-photos {
    background-color: white;
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .accueil-introduction{
         max-width: 1000px;
         display: flex;
         gap: 20px;
  }
     .accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .accueil-photos div {
    display: flex;
   flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
  }
  
  .accueil-introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
  }

  .begin{
    gap: 2em;
    flex-direction: column;
   display: flex;
  }
  
  .portfolio-section-photos {
    background-color: white;
    position: relative;
  }
  
  .portfolio-section-photos h2 {
    color: #242424;
    margin-bottom: 80px;
  }
  
  .grid-paysages img{
     width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid-paysages:hover{
    background-color: rgba(36, 36, 36, 0.1);
  }
  .grid-portraits img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .paysage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
    margin-bottom: 44px;
  }
  .image:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
  }
  .paysage img {
    width: 100%;
    height: 100%;
  }
  .overlay {
    opacity: 0;
    position: absolute;
    transition: opacity 0.5 ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.7);
    display: flex;
    justify-content: center; 
    align-items: center;
    color: white;

    }
    .image-container:hover .overlay{
             opacity: 1;
    }
  .image-container{
  position: relative;
  display: inline-block;
  }
  .image-paysage{
    width: 100%;
    display: block;
  }
  .portrait{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
  }
  .portrait img{
    width: 100%;
    height: 100%;
  }
  .image-portrait{
    object-fit: cover;
  }
  
 .a-propos .a .cta{
    margin-top: 50px;
  }
  .table-title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 52px;
  }
  table {
    color: #ffffff;
    border-collapse: collapse;
    margin: auto;
    width: 100%;
    margin-bottom: 4rem;
  }
  th:nth-child(1){
    width: 50%;
  }
  th:nth-child(2){
    width: 25%;
  }
   th:nth-child(3){
    width: 25%;
  }
  td ,th{
     border: solid 1px #8e86b5;
     padding: 12px;
  }
  td {
       padding:84px 0px 84px 2px;
       margin: auto;
       text-align: center;
      
  }
  form{
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    gap: 1rem;
  }
  .nom-email{
    display: flex;
    gap: 24px;
  }
  .form1{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
  }
  .form2{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
  }
  textarea {
    border-radius: 8px;
  }
  .form1 input{
    padding: 16px;
    border-radius: 6px;
  }
  .form2 input{
    padding: 16px;
    border-radius: 6px;
  }
  h2{
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 3rem;
  }

@media (max-width:1024) {
    .accueil-photos div {
        display: flex;
        flex-direction: column;
        ;
        gap: 15px;
        justify-content: center;
        margin-bottom: 15px;
      }
}
@media screen and (max-width: 996px) {
  header nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav img {
    margin-bottom: 20px;
  }

  header,
  footer {
    padding: 20px 20px;
  }

  h1 {
    font-size: 2em;
  }

  section {
    padding: 50px 20px 50px 20px;
  }

  nav a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .Tarifss{
    display: none;
  }
  .paysage{
    display: grid;
    grid-template-columns: 1fr ;
    }
  .portrait{
    display: grid;
    grid-template-columns: 1fr ;
    }
}